# Compiled Files #
target/
*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ files#
.idea/
*.iml

# GAE generated
WEB-INF/
datastore-indexes-auto.xml
local_db.bin

#Custom
updateGAE.sh
