<div class="row well"><h3>Sign in</h3>
    <!--
<div class="span6 well">
    <p>
        <i>Not already register ? please <a href="/register">Register</a></i>
    </p>
    <form id="signInForm">
        <table>
            <tr>
                <td align="right"><i class="icon-user icon-white"></i> Username:</td>
                <td>
                    <input id="username" type="text" value="foo@goo.moo" size="30"/>
                </td>
            </tr>
            <tr>
                <td align="right">Password:</td>
                <td>
                    <input id="password" type="password" value="password" size="30"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="control-group">
                        <div class="controls docs-input-sizes">
                            <a name="signInSubmit" class="btn" href="javascript:md.signIn('signInForm')"><span>Sign in</span></a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    </div>
    -->
    <div class="well">
        <form class="form-horizontal" id="signInFormUsingGoogleForm">
            <div class="control-group">
                <label class="control-label" for="googleUser">Google <i class="icon-user icon-white"></i> user</label>
                <div class="controls">
                    {{if ((typeof(googleUserPseudo) == "undefined") || (googleUserPseudo == ""))}}
                    <div id="googleOut">
                        <a id="googleUser" href="${googleSignInUrl}">change</a>.
                    </div>
                    {{else}}
                    <div  id="googleIn">
                        <span id="googleUser">${googleUserPseudo}</span>
                        &#160;&#160;
                        <a id="signOut-google" href="${googleSignInUrl}">change</a>.
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls docs-input-sizes">
                    {{if ((typeof(googleUserPseudo) == "undefined") || (googleUserPseudo == ""))}}
                    <a href="${googleSignInUrl}"
                       name="signInGoogleSubmit"
                       class="btn btn-info btn-large disabled">Sign in with google account <i class="icon-white icon-hand-left"></i></a>
                    {{else}}
                    <a href="javascript:md.signInGoogle('signInFormUsingGoogleForm')"
                       name="signInGoogleSubmit"
                       class="btn btn-info btn-large">Sign in with google account <i class="icon-white icon-hand-left"></i></a>
                    {{/if}}
                </div>
            </div>
        </form>
    </div>
</div>