<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="javascript:md.home()">Ma d&eacute;mocratie</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class=""><a href="javascript:md.addProposalAction()"><i class="icon-plus-sign icon-white"></i>&#160;add a proposal</a></li>
                    <!-- <li class=""><a href="javascript:md.addSampleProposal()"><i class="icon-home icon-plus-sign"></i>&#160;add a sample</a></li>
                      -->
                </ul>
                <ul class="nav pull-right">
                    {{if ((typeof(userAdmin) != "undefined") && (userAdmin == "true"))}}
                    <li><a href="javascript:md.admin()"><i class="icon-wrench icon-white"></i>Admin</a></li>
                    {{/if}}
                    <!-- *** user -->
                    {{if ((typeof(userPseudo) == "undefined") || (userPseudo == ""))}}
                    <li><a href="javascript:md.login()"><i class="icon-arrow-up icon-white"></i> Sign in!</a></li>
                    {{else}}
                    <li><a href="javascript:md.profileAction()" ><i class="icon-user icon-white"></i> ${userPseudo}</a></li>
                    <li><a href="javascript:md.logout()" ><i class="icon-minus-sign icon-white"></i> Logout</a></li>
                    {{/if}}
                    <!-- *** about menu -->
                    <li><a href="javascript:md.about()" title"About"><i class="icon-question-sign icon-white"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>