<div class="row well">
    <!-- ********** head ********* -->
    <div class="row-fluid">
        <div class="span11">

            <div class="page-header">
                <h3>&#160;${proposal.title}</h3>
            </div>

            <div class="row-fluid">
                <div class="span3">Infos</div>
                <div class="span7">
                    <p>
                        <span style="font-weight: bold">${proposal.dateFormat}
                        {{if ((typeof(proposal.age) == "undefined") || (proposal.age == ""))}}{{else}} (${proposal.age}) {{/if}}
                        </span><br/>
                        by <span style="font-weight: bold">${proposal.author.pseudo}</span><br/>
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">Description</div>
                <div class="span7"><blockquote>${proposal.content}</blockquote><br/></div>
            </div>
            <div class="row-fluid">
                <div class="span3">&#160;</div>
                <div class="span7">
                    <div class="btn-group">
                        <a id="proposalVoteProButton" class="btn btn-info"
                           href="javascript:md.voteProposalPro(${proposal.contributionId})"><i class="icon-thumbs-up"></i> pro</a>
                        <a id="proposalVoteNeutralButton" class="btn btn-info"
                           href="javascript:md.voteProposalNeutral(${proposal.contributionId})"><i class="icon-volume-off"></i> neutral</a>
                        <a id="proposalVoteConButton" class="btn btn-info"
                           href="javascript:md.voteProposalCon(${proposal.contributionId})"><i class="icon-thumbs-down"></i> con</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ********** tabs ********* -->
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabVot" data-toggle="tab">Votes (${proposalVotes.votesCount})</a></li>
            <li><a href="#tabPro" data-toggle="tab"><i class="icon-thumbs-up"></i> Pro arguments (0)</a></li>
            <li><a href="#tabCon" data-toggle="tab"><i class="icon-thumbs-down"></i> Con arguments (0)</a></li>
            <li><a href="#tabCom" data-toggle="tab"><i class="icon-tag"></i> Comments (0)</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tabVot">
                <div class="span7" id="vote-summary"><p>
                    {{if ((typeof(proposalVotes) == "undefined") || (proposalVotes == ""))}}
                    {{else}}
                    <i class="icon-thumbs-up"></i>&#160;<span style="font-weight: bold" id="proposalPro">${proposalVotes.votesProCount}</span> FOR<br/>
                    <i class="icon-volume-off"></i>&#160;<span style="font-weight: bold" id="proposalNeutral">${proposalVotes.votesNeutralCount}</span> NEUTRAL<br/>
                    <i class="icon-thumbs-down"></i>&#160;<span style="font-weight: bold" id="proposalCon">${proposalVotes.votesConCount}</span> CON
                    {{/if}}
                </p></div>
            </div>
            <div class="tab-pane" id="tabPro">
                <p>&lt;no pro args&gt;</p>
                <a id="proposalCommButton" class="btn btn-info"
                   href="javascript:md.addProposalPro(${proposal.contributionId});" >add pro</a>
            </div>
            <div class="tab-pane" id="tabCon">
                <p>&lt;no con args&gt;</p>
                <a id="proposalCommButton" class="btn btn-info"
                   href="javascript:md.addProposalCon(${proposal.contributionId});" >add con</a>
            </div>
            <div class="tab-pane" id="tabCom">
                <a id="proposalCommButton" class="btn btn-info"
                   href="javascript:md.addProposalCommentAction(${proposal.contributionId}, 'addcommenttarget');" ><i class="icon-tag"></i> add a comment</a>
                {{if ((typeof(proposalComments) == "undefined") || (proposalComments == ""))}}
                    <p>&lt;no comment&gt;</p>
                {{else}}
                {{each proposalComments}}
                <div>
                    <p>${dateFormat} <span style="font-weight: bold">${author.pseudo}</span>
                        <blockquote>${content}</blockquote>
                    </p>
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    <div id="addcommenttarget"></div>
</div>