/** Css project rules here */
body {
  padding: 0;
}
      
/**
  * Main panel 
  * head / bottom handled by nav bar
#mainPanel {
 padding-top: 45px;
}

.welcomePanel {
  margin: 5px 0px 5px 0px;
}


.addPanel {
  margin: 5px 0px 5px 0px;
}


div.globalFeedback ul {
    border-top: #F60 solid 1px;
    border-bottom: #F60 solid 1px;
}

span.feedbackPanelINFO {
    color:black;
}
span.feedbackPanelWARNING {
    color:#F60;
}
span.feedbackPanelERROR {
    color:red;
}

.compo {
	margin-bottom: 20px;
}

.page-header {
 	padding-bottom: 2px;
 	margin: 2px 0;
 	border-bottom: 1px solid #EEE;
}
*/